name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  ci:
    name: Code Problem Check
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js and pnpm
        uses: ./.github/composite/setup

      - name: Build
        run: pnpm run build

      - name: Run ESLint
        run: pnpm run lint

      - name: Run Prettier
        run: pnpm run format:ci

      - name: Run typecheck
        run: pnpm run typecheck

      - name: Run Vitest
        run: pnpm run test
