name: Publish preview package

on:
  pull_request:
    branches:
      - "**"
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "src/**"
      - "package.json"
      - ".github/workflows/pkg-pr-new.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  publish:
    name: Publish to pkg-pr-new (Publish Preview Package)
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js and pnpm
        uses: ./.github/composite/setup

      - name: Build
        run: pnpm build

      - name: Publish
        run: pnpm run pkg-pr-new
