name: Publish to npm

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build-and-publish:
    name: Build and Publish
    if: github.repository == 'sushichan044/eslint-todo'
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Node.js and pnpm
        uses: ./.github/composite/setup
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Setup latest npm to use trusted publish
        run: |
          npm install -g npm@latest

      - name: Release
        run: pnpm exec release-it
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
